<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="theme-color" content="#1885ed">
    <title>Video Translation</title>
</head>

<body>
    <header class="header">
        <div id="home" class="container header__container">
            <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png" href="" routerLink="/">
                <a class="header__title" href="" routerLink="/" style="text-decoration: none;">Lingui<span class="header__light">.fy</span></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="" routerLink="/" class="header__link">Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="sect sect--padding-bottom">
        <div class="container">
            <div class="row row--center">
                <h2 class="row__title">Video Translator</h2>
                <form id="contact" class="form" (ngSubmit)="translateVideo()">
                    <div class="form-group">
                        <textarea [(ngModel)]="text" name="text" placeholder="Enter text to detect language"
                            class="form__field form__textarea"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tgtLang">Target Language:</label>
                        <select [(ngModel)]="tgtLang" name="tgtLang" id="tgtLang" class="form__field form__select">
                            <option *ngFor="let lang of languages" [value]="lang.code">{{ lang.name }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary translate-btn" [disabled]="isLoading" style="border: none;">
                        <span *ngIf="!isLoading">Translate</span>
                        <span *ngIf="isLoading" class="loading-icon"><img src="../../assets/loading-icon.gif"></span>
                    </button>
                </form>
                <div *ngIf="!isLoading && translatedVideo">
                    <h3>Translated Video:</h3>
                    <video width="600" controls (error)="handleVideoError()">
                      <source [src]="getVideoUrl(translatedVideo)" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div *ngIf="videoError">
                    <p class="text-danger">Error loading video. Please try again.</p>
                  </div>                        
                <div *ngIf="errorText">
                    <p class="text-danger">{{ errorText }}</p>
                </div>
            </div>            
        </div>
    </div>
</body>