/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the page */
body {
    font-family: "Bradley Hand", "cursive";
    line-height: 1.6;
    background-color: #080808;
    /* background-image: url(../../assets/aboutbg.avif);
    background-size: cover;
    background-position: center; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
}

header{
    background-image: url('../../assets/bg3.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-container{
    max-width: 1200px;
    width: 100%;
    padding:20px;
}

.about-container{
    padding-top: 100px;
}

/* Header styles */
.hero {
    background-color: #333;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
}

.btn-secondary {
    background-color: #6c757d;
}

/* Section styles */
.features, .pricing, .footer {
    padding: 60px 0;
    text-align: center;
}

.features h2, .pricing h2, .footer p {
    margin-bottom: 40px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 20px); 
}

.feature-item img {
    width: 200px; /* Adjust the width as per your design */
    height: 150px; /* Adjust the height as per your design */
    object-fit: cover; /* Ensures the image retains its aspect ratio */
}

.feature-item h3 {
    font-size: 1.5rem;
}

.price-item {
    margin-bottom: 40px;
}

.price-item h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.price-item p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    color: #333;
    font-size: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .feature-item {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .feature-item {
        flex: 1 1 100%; 
    }
}